<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>考试系统教师端</title>

<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/datepicker3.css" rel="stylesheet">
<link href="css/bootstrap-table.css" rel="stylesheet">
<link href="css/styles.css" rel="stylesheet">
	<link href="css/myCss.css" rel="stylesheet">
<!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->

</head>

<body>

<div>
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"><span><b>考试系统</b></span>===教师端===</a>
				<ul class="user-menu">
					<li class="dropdown pull-right">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> User <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
							<li><a href="#"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
							<li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
						</ul>
					</li>
				</ul>
			</div>
							
		</div><!-- /.container-fluid -->
	</nav>
		
	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<h2><b style="color: red">欢迎</b> <b id="UserName"></b></h2>
		<ul class="nav menu">
			<li class="active"><a href="studentTable"><span class="glyphicon glyphicon-list-alt"></span> 学生信息</a></li>
			<li ><a href="examQuestionTable"><span class="glyphicon glyphicon-list-alt"></span> 题库管理</a></li>
			<li><a href="examSetting"><span class="glyphicon glyphicon-list-alt"></span> 发布考试</a></li>
			<li><a href="examTable"><span class="glyphicon glyphicon-list-alt"></span> 查看考试信息</a></li>

		</ul>
	</div><!--/.sidebar-->
		
	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">			
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
				<li class="active">学生信息管理</li>
			</ol>
		</div><!--/.row-->
		
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">学生信息管理</h1>
			</div>
		</div><!--/.row-->
		<div style="  left: 40px;
    top: 10px;
    width:100px;
    line-height:30px;
    background: #FC6;
    border:1px solid #F90">

		</div>


		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">学生信息管理</div>
					<div id="editor" hidden style="align-content: center">
						<div class="row">
							<div class="col-lg-12">
								<div class="panel panel-default">
									<div class="panel-heading">修改学生信息       <button onclick="f2()" type="button" class="btn btn-default">返回学生列表</button>
									</div>
									<div class="panel-body">
										<div class="col-md-6">
											<form action="studentUpdata" id="editorForm">
												<div class="form-group">
													<label>学号</label>
													<input class="form-control" name="editorStudentId" placeholder="Placeholder" id="editorStudentId">
												</div>
												<div class="form-group">
													<label>姓名</label>
													<input class="form-control" name="editorStudentName" placeholder="Placeholder" id="editorStudentName">
												</div>
												<div class="form-group">
													<label>密码	<button type="button" style="color: #1c6a9e" onclick="f()">显示密码</button><button type="button" style="color: #9e9e9e" onclick="f1()">隐藏密码</button>
													</label>
													<input name="editorStudentP" type="password" class="form-control" id="editorStudentP">
												</div>
												<div class="form-group">
													<label>性别</label>
													<input name="editorStudentSex" type="text" id="editorStudentSex" hidden>
													<div class="radio">
														<label>
															<input type="checkbox"  id="editorStudentM" value="option1">男
														</label>
													</div>
													<div class="radio">
														<label>
															<input type="checkbox"  id="editorStudentF" value="option2">女
														</label>
													</div>
												</div>
												<button type="button" onclick="f3()" class="btn btn-primary">确认修改</button>
												<button onclick="f2()" type="button" class="btn btn-default">取消</button>

											</form>

										</div>
									</div>
								</div><!-- /.col-->
							</div><!-- /.row -->
						</div>
						<form hidden id="killPassword" action="killP">
							<input name="studentId" id="killPId">
						</form>
						<form hidden id="deleteStudent" action="deleteStudent">
							<input name="studentId" id="deleteStudentId">
						</form>
					</div>

					<div class="panel-body" id="all">
						<table id="table" data-toggle="table" data-url="findAllStudent"  data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="id" data-sort-order="desc">

						</table>
					</div>
				</div>
			</div>
		</div><!--/.row-->
	</div><!--/.main-->
</div>


<script src="js/jquery-1.11.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/chart.min.js"></script>
	<script src="js/chart-data.js"></script>
	<script src="js/easypiechart.js"></script>
	<script src="js/easypiechart-data.js"></script>
	<script src="js/bootstrap-datepicker.js"></script>
	<script src="js/bootstrap-table.js"></script>

	<script>
		welcome();
		function f() {
			document.getElementById("editorStudentP").type = "text";
		}
		function f1() {
			document.getElementById("editorStudentP").type = "password";
		}
		function f2() {
			document.getElementById("editor").hidden = true;
			document.getElementById("all").hidden = false;
		}
		function f3() {
			if (document.getElementById("editorStudentM"))
			document.getElementById("editorStudentSex").value = "男";
			else
				document.getElementById("editorStudentSex").value = "女";
			document.getElementById("editorForm").submit();
		}



		function welcome(){
			$.ajax({
				url: "/exam/getUserTeacherName",
				type: "get",
				dataType: "json",
				success: function (data) {
					document.getElementById("UserName").innerText = data.msg;
				}
			})
		}


		!function ($) {
			$(document).on("click","ul.nav li.parent > a > span.icon", function(){		  
				$(this).find('em:first').toggleClass("glyphicon-minus");	  
			}); 
			$(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
		}(window.jQuery);

		$(window).on('resize', function () {
		  if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
		})
		$(window).on('resize', function () {
		  if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
		})
	</script>
	<script>
		function addFunctionAlty(value, row, index) {
			return [
				'<button id="bind" type="button" class="btn btn-primary">编辑</button>',
				'<button id="unbind" type="button" class="btn btn-default">删除</button>',
				'<button id="killP" type="button" class="btn btn-default">重置密码</button>',
			].join('');
		}
		window.operateEvents = {
			'click #bind': function (e, value, row, index) {
				var editorForm = document.getElementById("editor");
				var all = document.getElementById("all");
				var editorStudentId = document.getElementById("editorStudentId");
				var editorStudentName = document.getElementById("editorStudentName");
				var editorStudentP = document.getElementById("editorStudentP");
				var editorStudentM = document.getElementById("editorStudentM");
				var editorStudentF = document.getElementById("editorStudentF");
				$.ajax({
					url: "/exam/teacher/studentTableEditor/"+row.id,
					type: "get",
					dataType: 'json',
					success: function(data){
						editorStudentId.value = data.id;
						editorStudentName.value = data.name;
						editorStudentP.value = data.password;
						all.hidden = true;
						editorForm.hidden = false;
					}
				});
			}, 'click #unbind': function (e, value, row, index) {
				var r = confirm("确定要删除学号是"+row.id+"的学生的全部记录吗?")
				if (r==true){
					document.getElementById("deleteStudentId").value = row.id;
					document.getElementById("deleteStudent").submit();
				}
			}, 'click #killP': function (e, value, row, index) {
				var r = confirm("确定要给学号是"+row.id+"的学生将密码重置成00000000吗?")
				if (r==true){
					document.getElementById("killPId").value = row.id;
					document.getElementById("killPassword").submit();
				}
				row.id;
			}
		};

		$('#table').bootstrapTable({
			columns: [{
				checkbox: true
			}, {
				field: 'id',
				title: '学号',
			}, {
				field: 'name',
				title: '姓名',
			}, {
				field: 'sex',
				title: '性别',
			}, {
				field: 'operate',
				title: '操作',
				events: operateEvents,//给按钮注册事件
				formatter: addFunctionAlty//表格中增加按钮  
			}]
		});

	</script>
</body>

</html>
