<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" page isELIgnore="false">
    <meta name="viewport" content="width=device-width,initial-scale=1" >
    <title>学生考试系统</title>
    <link rel="stylesheet" href="login/auth.css">
</head>

<body>


<div class="lowin" id="student">
    <div class="lowin-brand">
        <img src="login/kodinger.jpg" alt="logo">
    </div>
    <div class="lowin-wrapper">
        <div class="lowin-box lowin-login">
            <div class="lowin-box-inner">
                <a href="studentLogin">学生端登录</a>

                <form id="teacherLogin" action="teacherLogining">
                    <p>请输入信息登录</p>
                    <p id="msg" style="color: red"></p>
                    <div class="lowin-group">
                        <label>教工号<a href="#" class="login-back-link">点此登录</a></label>
                        <b hidden id="iMsg" style="color: red;text-align: center"></b>
                        <input id="loginI" type="text"  name="teacherId" class="lowin-input">
                    </div>
                    <div class="lowin-group password-group">
                        <label>密码 <a href="#" class="forgot-link"></a></label>
                        <input id="loginP" type="password" name="password" autocomplete="current-password" class="lowin-input">
                    </div>
                    <button type="button" onclick="login()" class="lowin-btn login-btn">登录</button>

                    <div class="text-foot">
                        还没有账户？ <a href="" class="register-link">点此注册</a>
                    </div>
                </form>
            </div>
        </div>

        <div class="lowin-box lowin-register">
            <div class="lowin-box-inner">
                <form id="register">
                    <p>请输入信息注册您的账户</p>
                    <div class="lowin-group">
                        <label>姓名</label>
                        <input  type="text" name="name" autocomplete="name" class="lowin-input">
                    </div>
                    <div class="lowin-group">
                        <label>教工号</label>
                        <input type="text" name="teacherId" class="lowin-input">
                    </div>
                    <div class="lowin-group">
                        <label>密码</label>
                        <input type="password" name="password" autocomplete="current-password" class="lowin-input">
                    </div>
                    <button onclick="register()" class="lowin-btn">
                        注册
                    </button>

                    <div class="text-foot">
                        已经拥有账户了?<a href="" class="login-link">直接登录</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <footer class="lowin-footer">
        =======================================福建师范大学学生考试系统=======================================
    </footer>
</div>

<form action="teacher/studentTable" id="studentTable"></form>
<script src="webjars/jquery/3.0.0/jquery.js"></script>
<script src="login/auth.js"></script>
<script>

    function toStudentLogin(){
        var login = document.getElementById("student");
        var teacherLogin = document.getElementById("teacher");
        login.hidden = true;
        teacherLogin.hidden = false;
    }


    Auth.init({

    });

    function login() {
        var id = document.getElementById("loginI").value;
        var password = document.getElementById("loginP").value;

        $.ajax({
            url: "/exam/teacherLogining?teacherId="+id+"&password="+password,
            type: "get",
            dataType: "json",
            success: function (data) {
                var msg = document.getElementById("iMsg");
                msg.innerText = data.msg;
                msg.hidden = false
                if (data.msg != "教工号不存在!!!" && data.msg !="密码错误!!!")
                    document.getElementById("studentTable").submit();
            }
        });

    }

</script>
</body>
</html>